body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000;
    color: white;
    padding: 25px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Ajout de padding pour un meilleur visuel */
    border-radius: 5px; /* Optionnel: pour arrondir les coins du cadre */
}

nav a.active {
    background-color: #444; /* Couleur de fond différente pour l'onglet actif */
    color: #fff; /* Couleur du texte pour l'onglet actif */
}

header {
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100px; /* Ajustez selon la taille souhaitée */
}
.logo {
    width: 200px; /* Ajustez cette valeur selon la taille souhaitée */
    height: auto; /* Cela garantit que le logo garde ses proportions */
}

.header-banner {
    background-image: url('logo_em.jpg'); /* Mettez à jour le chemin selon votre structure de fichiers */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'espace disponible */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    height: 450px; /* Ajustez la hauteur selon vos besoins */
    width: 100%; /* S'étend sur toute la largeur de la page */
}
@media (max-width: 600px) {
    .header-banner {
        height: 100px; /* Hauteur plus petite pour les écrans plus petits */
    }
}



.title-section {
    text-align: center; /* Centrer le titre */
    font-size: 2.5em; /* Rendre le titre plus grand. Ajustez la taille selon vos besoins */
    color: #4a90e2; /* Couleur du titre. Choisissez la couleur que vous trouvez jolie */
    margin-top: 20px; /* Espace au-dessus du titre */
    margin-bottom: 20px; /* Espace en dessous du titre */
    font-weight: bold; /* Rendre le texte en gras pour plus d'impact */
    /* Vous pouvez ajouter d'autres styles comme la police de caractères, etc. */
}

#bibliography {
    padding: 50px;
    background-color: #6880a4; /* Couleur de fond légère */
    border: 1px solid #192940; /* Bordure subtile */
    margin: 80px auto; /* Augmentation de la marge et centrage */
    max-width: 80%; /* Réduction de la largeur maximale pour moins de proximité avec les bords */
    font-size: 1.3em; /* Augmentation de la taille du texte */
}

#bibliography h2 {
    text-align: center;
    color: #333;
    font-size: 1.4em; /* Augmentation de la taille du titre */
}

#bibliography ul {
    list-style: none; /* Supprime les puces */
    padding: 0;
}

.empty-space {
    height: 250px; /* Ou toute autre hauteur */
}

#bibliography li {
    margin-bottom: 15px; /* Augmentation de l'espacement entre les entrées */
    padding: 10px; /* Augmentation de l'espace intérieur pour chaque entrée */
    border-bottom: 1px solid #ddd; /* Ligne séparatrice entre les entrées */
}

#bibliography li:last-child {
    border-bottom: none; /* Pas de ligne pour la dernière entrée */
}

#bibliography a {
    color: #007bff; /* Couleur des liens */
    text-decoration: none;
}

#bibliography a:hover {
    text-decoration: underline;
}


.gif-columns {
    display: flex;
    justify-content: space-around;
}

.gif-column {
    flex: 1; /* Assure une distribution égale de l'espace */
}

.gif-column img {
    width: 100%; /* Ajustez la taille des GIFs dans les colonnes */
    margin-bottom: 10px; /* Espacement entre les GIFs et les descriptions */
}
.centered-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* Ajustez ce pourcentage pour changer la taille */
    max-width: 400px; /* Maximum width */
}
#summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.summary-content {
    max-width: 1200px; /* Ajustez selon la largeur désirée */
    margin: 0 auto;
    font-size: 1.4em; /* Ajustez la taille de la police selon vos besoins */
    text-align: center;
}

.link-box {
    background-color: #f2f2f2; /* Couleur de fond de la boîte */
    text-align: center; /* Centrer le texte dans la boîte */
    padding: 10px; /* Espace à l'intérieur de la boîte */
    border-bottom: 2px solid #ccc; /* Ajouter une bordure en bas */
}

.link-box a {
    color: #000; /* Couleur du texte du lien */
    text-decoration: none; /* Enlever le soulignement du lien */
    font-weight: bold; /* Rendre le texte du lien en gras */
}

#equation {
    /* Styles pour la section d'équation */
}

.equation-content {
    /* Styles pour le contenu de l'équation */
    text-align: center; /* Centrer le contenu */
}

.equation-ref {
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}
